/* YK Customizations */

.anvil-role-soft-fp {
    border-radius: 5px;
    padding: 0px 20px;
    border: solid 1px %color:Outline%;
}
.anvil-role-soft-button > .btn {
    border-radius: 10px;
}

/* Create a picture inside of the button */
.anvil-role-google-sign > button::before {
    content: "";
    background-image: url("_/theme/search.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: auto;
    width: 25px;
    max-width: 25px;
    max-height: 40px;
    height: 40px;
    margin-left: 20px;
    background-size: 20px 20px;
}

/* Move the text to avoid overlap with picture */
.anvil-role-google-sign .button-text {
    padding-left: 25px;
}

/* Set hover effect on the button */
.anvil-role-google-sign > button:hover {
    background-color: lightgray;
}

.anvil-role-narrow-col {
    overflow: hidden;
    padding: 35px;
/*     overflow-x: hidden; */
}
.anvil-role-narrow-col-mobile {
    padding-bottom: 0px;
}

/* Don't let users scroll beyond limits horizontally */
/* And get rid of overflow horizontally */
/* html,
body {
    height: 100%;
    overscroll-behavior-x: none;
    -webkit-overflow-scrolling-x: auto;
    overflow-x: hidden;
} */

/* Make the left nav same background color */
.nav-holder .left-nav, .left-nav-placeholder {
  /* background: %color:Background%; */
  background: rgb(247, 249, 250);
  border-right: 1px solid #E1E0E7;

}

.anvil-role-vertically-centered {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
/*justify-content will be applied vertically because the flex direction is column*/
  justify-content: center;
}

/* Loading Skeletons */
.anvil-role-skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  height:30px;
  border-radius: 12px;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.anvil-role-skeleton >button{
  width:10px
}

/* Custom Spinner */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: translateX(-50%) scaleX(1);
        transform: translateX(-50%) scaleX(1);
    }
    50% {
        -webkit-transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
        transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: translateX(-50%) scaleX(1);
        transform: translateX(-50%) scaleX(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: translateX(-50%) scaleX(1);
        transform: translateX(-50%) scaleX(1);
    }
    50% {
        -webkit-transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
        transform: translateX(-50%) scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: translateX(-50%) scaleX(1);
        transform: translateX(-50%) scaleX(1);
    }
}

#loadingSpinner {
    -webkit-animation: pulse;
    -moz-animation: pulse;
    animation: pulse;
  	animation-duration: 1s;
    animation-iteration-count: infinite;

    position: fixed;
    top: 0%;
    left: 50%;

    width: 600px;
    height:500px;

    max-width: 100vw;

    box-sizing: border-box;

    border-radius: 0;
    box-shadow: none;/*0px 0px 10px 10px #fcfcfc;*/
    background-color: transparent;
    background-image: url("_/theme/search.png") !important;
}
